{%capture member%}{{include.member}}{%endcapture%}
<div class="col-sm-4">
    <div class="team-member">
        <img src="{{ member.image }}" class="img-responsive img-circle">
        <h4>{{ member.name }}</h4>
        <p class="text-muted">{{ member.title }}</p>
        <ul class="list-inline social-buttons">
            <li>
              {% if member.twitter == null or member.twitter == ""%}
                <a class="disabled">
                  <i class="fa fa-twitter"></i>
                </a>
              {% else %}
                <a target="_blank" href="{{ member.twitter }}">
                    <i class="fa fa-twitter"></i>
                </a>
              {%endif%}
            </li>
            <li>
              {% if member.google_scholar == null or member.google_scholar == ""%}
                <a class="disabled">
                  <i class="fa fa-google"></i>
                </a>
              {% else %}
                <a target="_blank" href="{{ member.google_scholar }}">
                    <i class="fa fa-google"></i>
                </a>
              {%endif%}
            </li>
            <li>
              {% if member.linkedin == null or member.linkedin == ""%}
                <a class="disabled">
                  <i class="fa fa-linkedin"></i>
                </a>
              {% else %}
                <a target="_blank" href="{{ member.linkedin }}">
                    <i class="fa fa-linkedin"></i>
                </a>
              {%endif%}
            </li>
        </ul>
    </div>
</div>
