<div class="col-sm-4">
    <div class="team-member">
        <img src="{{ include.member.image }}" class="img-responsive img-circle">
        <h4>{{ include.member.name }}</h4>
        <p class="text-muted">{{ include.member.title }}</p>
        <ul class="list-inline social-buttons">
            <li>
                <a target="_blank" href="{{ include.member.twitter }}">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a target="_blank" href="{{ include.member.google_scholar }}">
                    <i class="fa fa-google"></i>
                </a>
            </li>
            <li>
                <a target="_blank" href="{{ include.member.linkedin }}">
                    <i class="fa fa-linkedin"></i>
                </a>
            </li>
        </ul>
    </div>
</div>